*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 min-height: 70vh;
 background-color: #050505;
 line-height: 1.5;
 align-items: center;
    justify-content: center;
    display: flex;

 
}
/* Container */
.container{
    border: 50px solid linear-gradient(to right, #656565, #7f42a7, #6600c5,#5300a0,#757575,#757575);
    background-size: 200%;
    animation: animationGradient 2,5s linear infinite;
    box-shadow: 0 0 15px rgba(255,255,255,0.3);
    padding: 5px;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
 
}
/* Header */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4rem;
     z-index: 999;
}
header h1{
    font-size: 1.5rem;
    color: white;
    letter-spacing: 0.1rem;
}
nav{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-left: -7%;
}
nav a{
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    transition: color 0.2s ease;
    text-decoration: none;
    color: white;
    margin-left: 10%;
}
nav a:hover{
    color: grey;
}
.content{
    width: 100%;
    height: 300vh;
   
}
.content .karta{
    margin-top: 1%;
    justify-content: center;
    align-items: center;
}

.content .karta iframe{
    border-radius: 15px;
     border: 50px solid linear-gradient(to right, #656565, #7f42a7, #6600c5,#5300a0,#757575,#757575);
    background-size: 200%;
    animation: animationGradient 2,5s linear infinite;
    box-shadow: 0 0 15px rgba(255,255,255,0.3);
   align-self: center;
   width: 900px;
   height: 600px;
   margin-left: 20%;
}


.content h2{
    color: white;
    text-align: center;
    font-size: 1.3rem
    
}
.content .kontakti{
    width: 300px;
    height: 180px;
    margin-top: 1%;
    margin-left: 40%;
    border-radius: 15px;
     border: 50px solid linear-gradient(to right, #656565, #7f42a7, #6600c5,#5300a0,#757575,#757575);
    background-size: 200%;
    animation: animationGradient 2,5s linear infinite;
    box-shadow: 0 0 15px rgba(255,255,255,0.3);
    justify-content: center;
    align-self: center;
    justify-items: center;
}
.content .kontakti H3{
    color: rgb(145, 143, 143);
    text-align: center;
    font-size: 1.3rem;
    align-self: center;
    margin-top: 5px;

    
}
@media (max-width: 768px){
     header{
            padding: 1rem 0.1remS;
        }

        nav {
            flex-direction: column;
        }
        nav img{
            
            width: 100%;  
            height: 100%; 
            margin-left: 10%;                   
        }
        .content{
            height: 100%;
            width: 100%;
            margin-top: 10%;
            margin-left: -15%;
        }
        .content h2{
           margin-left: 30%;
        }
        .content .karta iframe{
            width: 90%;
            height: 100%;
            
   
        }
        .content .kontakti {
            width: 70%;
            height: 60%;
            margin-top: 10%;
            margin-left: 30%;
        }
        
}


