
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 min-height: 100vh;
 width: 100%;
 background-color: #050505;
 line-height: 1.5;
 align-items: center;
    justify-content: center;
    display: flex;
    

 
}
/* Container */
.container{
    border: 50px solid linear-gradient(to right, #656565, #7f42a7, #6600c5,#5300a0,#757575,#757575);
    background-size: 200%;
    animation: animationGradient 2,5s linear infinite;
    box-shadow: 0 0 15px rgba(255,255,255,0.3);
    padding: 5px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
 
}
/* Header */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
     z-index: 999;
}
header h1{
    font-size: 1.5rem;
    color: white;
    letter-spacing: 0.1rem;
}
nav{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-left: -4%;
}
nav a{
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    transition: color 0.2s ease;
    text-decoration: none;
    color: white;
    margin-left: 10%;
}
nav a:hover{
    color: grey;
}



/* Main */

.content{
    width: 100%;
    height: 100%;
}
.tag-box{
    color: white;
    position: relative;
    width: 18rem;
    height: 2.5rem;
    border-radius: 50px;
    background: linear-gradient(to right, #656565, #7f42a7, #6600c5,#5300a0,#757575,#757575);
    background-size: 200%;
    animation: animationGradient 2,5s linear infinite;
    box-shadow: 0 0 15px rgba(255,255,255,0.3);
    margin-top: 2%;
    text-align: center;
    margin-left: 40%;
} 
@keyframes animationGradient{
    
    to{
        background-position: 200%;
    }
}

.tag-box .tag{
    position: absolute;
    inset: 3px 3px 3px 3px;
    background-color: black;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;
    cursor: pointer;
    text-align: center;
}
 .tag-box .tag:hover{
    color: gray;
 }
 .content h1{
    font-size: 2rem;
    color: white;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 1.2;
    text-shadow: 0 0 10px rgba(128,128,128,0.418);
    margin-top:1% ;
 }
 .description{
    font-size: 0.8rem;
    color: gray;
    letter-spacing: 0.05em;
    max-width: 35rem;
    text-align: center;
    margin-left: 31%;
    margin-top:1% ;
 }
 .button{
    display: flex;
    align-self: center;
    gap: 1rem;
    margin-top: 1rem;
    margin-left: 41.5%;
 }
 
.btn-rez{
    text-decoration: none;
    color: white;
    border: 1px solid #2a2a2a;
    padding: 0.7rem 1rem;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    padding: 1rem 1.5rem;
    transition: color 0.3s ease;

}
.btn-rez:hover{
    color: grey;
}
.cover{
    width: 1600px;
    height: 700px;
    display: flex;
    border-radius: 50px;
    
    
}
.box {
    margin: 30px;
    width: 575px;
    height: 375px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.box img{
    border-radius: 50px;
     border: 50px solid linear-gradient(to right, #656565, #7f42a7, #6600c5,#5300a0,#757575,#757575);
    background-size: 200%;
    animation: animationGradient 2,5s linear infinite;
    box-shadow: 0 0 15px rgba(255,255,255,0.3);
  padding: 10px;
    width: 650px;
    height: 400px;
    transition: 400ms;
    
}
.box img:hover{
        
        transform: scale(1.03);
    }
.tekst h3{
    
    font-size: 1.2rem;
    color: white;
    font-weight: 600;
    letter-spacing: 0.1em;
    line-height: 1.2;
    text-shadow: 0 0 10px rgba(128,128,128,0.418);
    text-align: center;
    margin-top:1% ;

}
.box p1{
    font-size: 0.9rem;
    color: white;
    letter-spacing: 0.05em;
    max-width: 35rem;
    text-align: center;
    transition: color 0.3s ease;
}
.box p1 :hover{
    color: gray;
    
}
 .box h2{
    font-size: 1.5rem;
    color: white;
    font-weight: 600;
    letter-spacing: 0.2em;
    margin: 1rem 0;
    line-height: 1.2;
    text-shadow: 0 0 10px rgba(128,128,128,0.418);
    text-align: center;
    transition: color 0.3s ease;
 }
 .box h2 :hover{
    color: gray;
 }
 .box .box-p1{
    width: 225px;
    height: 170px;
    
    margin-left: 32%;
 }
 .box .box-p2{
    width: 225px;
    height: 170px;
    
    margin-left: 32%;
 }
 .footer{
        width: 100%;
        height: 100%;
    margin-top: 1%;
    background-color: rgb(7, 7, 7);
    padding: 1rem 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(255,255,255,0.3);
}
hr{
    border-color: gray;
}
.footer p{
color: gray;
}
.footer1{
    
    justify-items: center;
    padding: 0 33rem ;
    
}
.footer1 a{
    color: gray;
    margin: 8px;
}

.footer p{
    text-align: center;
    
}
 
 @media (max-width: 600px){
    .body{
        min-height: 100%;
        width: 100%;
    }

        header{
            padding: 1rem 0.1remS;
        }

        nav {
            flex-direction: column;
        }
        nav img{
            
            width: 100%;  
            height: 100%; 
            margin-left: 5%;                   
        }
        nav a{
            margin-left: 5%;
        }
        .tag-box{
            margin-top: 15%;
            margin-left: 16%;
        }
        .description{
            width: 100%;
            height: 100%;
            font-size: 0.8rem;
            margin-left: -0%;
        }
        .button{
            margin-left: 22.5%;
        }
        .cover{
           flex-direction: column;
            width: 100%;
            height: 100%; 
        }
        .box{
            flex-direction: column;
            width: 100%;
            height: 100%; 

        }
        .box img{
            width: 75%;
            height: 65%;
            
        }
        .box h2{
            margin-left: -25%;       
}
.tekst{
    margin-top: 5%;
}
.box .box-p1{
    width: 40%;
    height: 40%;
    
    margin-left: 17%;
 }
 .box .box-p2{
    width: 40%;
    height: 40%;
    
    margin-left: 17%;
 }
 .footer{
    width: 100%;
    height: 100px;
    margin-top: 1%;
    flex-direction: column;
 }
 .footer p{
    font-size: 0.8rem;
 }
 .footer1{
    display: flex;
    justify-items: center;
    padding: 0 120px ;
}
.footer1 a{
    color: gray;
    margin: 5px;
    
}
 }
 